<section class="login-section">
    <div class="container-fluid">
      
      <div class="row position-relative">
        <div class="col-lg-7">
          <div class="login_img_one">
            <img src="assets/images/login_img/login_img_1.png" />
          </div>
          <div class="login_img_two">
            <img src="assets/images/login_img/login_img_2.png" />
          </div>
        </div>
        <div class="col-lg-5">
         
          <div class="card login_card">
            <div class="card-body">
              <p class="heading">Reset new password your account</p>
              <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()">
                <div class="form-group login_label mt-4">
                    <input type="email" disabled class="form-control" placeholder="Enter your email*"  formControlName="email" [pattern]="emailPattern">
                    <div class="error-view" *ngIf="resetPwdForm.controls['email'].invalid  && isSubmitted">

                        <div *ngIf="resetPwdForm.controls['email'].errors.required">
                            Enter email
                        </div>
                        <div *ngIf="resetPwdForm.controls['email'].errors.pattern">
                            invalid email
                        </div>

                    </div>
                </div>
                <div class="form-group login_label mt-4">
                    <input type="password" class="form-control" placeholder="Password*" formControlName="password">
                    <div class="error-view" *ngIf="resetPwdForm.controls['password'].invalid  && isSubmitted">
                        <div *ngIf="resetPwdForm.controls['password'].errors.required">
                            Enter password
                        </div>
                        <div *ngIf="resetPwdForm.controls['password'].errors.minlength">
                            password must be minimum 6 character length
                        </div>
                    </div>
                </div>
                <div class="form-group login_label mt-4">
                    <input type="password" class="form-control" placeholder="Confirm Password*" formControlName="confirm_password">
                    <div class="error-view" *ngIf="resetPwdForm.controls['confirm_password'].invalid && isSubmitted">
                        <div *ngIf="resetPwdForm.controls['confirm_password'].errors.required">
                            Confirm password required
                        </div>
                        <div *ngIf="resetPwdForm.get('confirm_password').errors && 
                        resetPwdForm.get('confirm_password').errors.ConfirmPassword && isSubmitted || resetPwdForm.get('confirm_password').errors && 
                        resetPwdForm.get('confirm_password').errors.ConfirmPassword && (resetPwdForm.controls['confirm_password'].dirty && isSubmitted || resetPwdForm.controls['confirm_password'].touched)">
                                Password does not match
                        </div>
                    </div>
                </div>
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-12">
                      <div class="form-group m-0">
                        <button type="submit" class="btn btn-dark btn-block ">  Reset password  </button>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <ul class="login_content">
        <li>Welcome to</li>
        <li>Inhabitr Designer Collaboration Suite</li>
      </ul>
    </div>
  </section>




